<!-- app/views/users/new.html.erb -->
<div style="background:linear-gradient(to bottom, #6db3f2 3%,#6db3f2 63%,#1e69de 100%);" class="jumbotron jumbotron-fluid">

  <div style="background:transparent;" class="container">
<h1>Signup!</h1>
  <div class="table"><br>
<%= form_for :user, url: '/users' do |f| %>

  Name: <%= f.text_field :name %><br>
  Email: <%= f.text_field :email %><br>
  Password: <%= f.password_field :password %><br>
  Password Confirmation: <%= f.password_field :password_confirmation %><br>

    <%= f.submit "Submit" %>
  </div>


<% end %>

</div>
</div>
